@import './../../../styles.scss';

.title-container {
  display: flex;
  color: white;
  width: 85%;
  margin: 50px auto auto auto;
  h3 {
    margin: 0 0 20px 20px;
  }

  .bullet {
    margin: auto auto auto 20px;
  }

  @include for-phone-only {
    h3 {
      margin: 0 0 20px 0;
    }
  }
}
