<div class="title-container">
  <div class="title">About</div><div class="bullet"></div>
</div>
<div class="about-container">
  <div class="about-child"><app-about-card [title]="techTitle" [text]="techText" [bulletColor]="bulletColors.GREEN"></app-about-card></div>
  <div class="about-child"><app-about-card [title]="designTitle" [text]="designText" [bulletColor]="bulletColors.PINK"></app-about-card></div>
  <div class="about-child"><app-about-card [title]="animalTitle" [text]="animalText" [bulletColor]="bulletColors.YELLOW"></app-about-card></div>
</div>
