<div class="title-container">
  <div class="title">About</div>
  <div class="bullet"></div>
</div>
<div class="about-container">
  <div class="about-child">
    <app-about-card [title]="language?.about.cards[0].title" [text]="language?.about.cards[0].text" [bulletColor]="bulletColors.GREEN"></app-about-card>
  </div>
  <div class="about-child">
    <app-about-card [title]="language?.about.cards[1].title" [text]="language?.about.cards[1].text" [bulletColor]="bulletColors.PINK"></app-about-card>
  </div>
  <div class="about-child">
    <app-about-card [title]="language?.about.cards[2].title" [text]="language?.about.cards[2].text" [bulletColor]="bulletColors.YELLOW"></app-about-card>
  </div>
</div>
<div class="title-container">
  <div class="title">Timeline</div>
  <div class="bullet"></div>
</div>

