<div class="top-container">
  <div class="child-column">
    <div class="rotated-bar"></div>
    <div class="pattern-container">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="pattern-container">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="pattern-container">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="child dots"><div>. . . . . .</div></div>
  <div class="child">
    <div class="circle green-c animate-c">
    </div>
  </div>
  <div class="child"></div>
</div>

<div class="middle-container">
  <div class="middle-child">
    <div class="circle-container">
      <div class="circle-hidder"></div>
      <div class="circle-medium">
    </div>
    </div>
  </div>
  <div class="middle-child">
    <p>Hi!</p>
    <div class="subtitle">My name is Daniel Almeida and I'm a Frontend Developer</div>
  </div>
  <div class="middle-child">
    <div class="small-circle"></div>
  </div>
</div>
