<div class="top-container" [ngStyle]="{'padding-top': paddingTop}">
  <div><img class="dots" src="./../../../assets/icons/dots.svg" alt="main dots"></div>
  <div><img class="dotted-line" src="./../../../assets/icons/dotted-line.svg" alt="dotted line"></div>
  <div><div class="circle-container-top"><div class="circle"></div></div><div class="circle-sm"></div></div>
  <div><img class="pattern" src="./../../../assets/icons/pattern.svg" alt="pattern dots"></div>
</div>



<div class="middle-container">
  <div>
    <div class="circle-container-middle"><div class="circle"></div></div>
  </div>
  <div class="title-box">
    <div class="headline">Hi!</div>
    <div class="headline-sub">My name is Daniel Almeida and I'm a Frontend Developer</div>
  </div>
  <div>
    <div class="horizontal-bar"></div>
  </div>
</div>


<div class="bottom-container"></div>

<!--<div class="top-container">
  <div class="child-column">
    <!--<div class="rotated-bar"></div>
    <div class="pattern-container">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="pattern-container">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="pattern-container">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="child dots"><div>. . . . . .</div></div>
  <div class="child">
    <!--<div class="circle green-c animate-c">
    </div>
  </div>
  <div class="child"></div>
</div>

<div class="middle-container">
  <div class="middle-child">
    <div class="circle-container">
      <div class="circle-hidder"></div>
      <div class="circle-medium">
    </div>
    </div>
  </div>
  <div class="middle-child">
    <p>Hi!</p>
    <div class="subtitle">My name is Daniel Almeida and I'm a Frontend Developer</div>
  </div>
  <div class="middle-child">
    <div class="small-circle"></div>
  </div>
</div>-->
