<!-- Top Container -->

<div class="top-container" [ngStyle]="{'padding-top': paddingTop}">
  <div><img class="dots" src="./../../../assets/icons/dots.svg" alt="main dots"></div>
  <div><img class="dotted-line" src="./../../../assets/icons/dotted-line.svg" alt="dotted line"></div>
  <div><div class="circle-container-top"><div class="circle"></div>
  </div><div class="circle-sm"></div></div>
  <div><img class="pattern" src="./../../../assets/icons/pattern.svg" alt="pattern dots"></div>
</div>

<!-- Middle Container -->

<div class="middle-container">
  <div>
    <div class="circle-container-middle"><div class="circle"></div></div>
  </div>
  <div class="title-box">
    <div class="headline">Hi!</div>
    <div class="headline-sub">My name is Daniel Almeida and I'm a Frontend Developer</div>
  </div>
  <div>
    <div class="horizontal-bar"></div>
  </div>
</div>

<!-- Bottom Container -->
<div class="bottom-container">
  <div class="scroll"><div class="arrow-down"></div></div>
  <div>
    <div class="vertical-bar"></div>
    <div class="circle-sm"></div>
  </div>
  <div><img class="pattern" src="./../../../assets/icons/pattern.svg" alt="pattern dots"></div>
  <div><div class="circle-container-bottom"><div class="circle"></div>
  <div></div>
</div>

