@import "./../../../styles.scss";

.main-container {
  display: flex;
  height: 35%;
  width: 100%;
  @include for-phone-only {
    height: 25%;
  }
}

/*** Top Container ***/

.top-container {
  justify-content: flex-start;
  transition: padding-top 400ms linear;
  @extend .main-container;
  > div {
    width: 25%;
    display: flex;
    @include for-phone-only {
      width: 50%;
    }
  }
}

.top-container > div:first-child {
  padding: 20px;
}

.top-container > div:nth-child(2) {
  @include for-phone-only {
    display: none;
  }
}

.top-container > div:nth-child(3) {
  .circle-sm {
    margin: auto 0 0 auto;
  }

  @include for-phone-only {
    display: none;
  }
}

.circle-container-top {
  color: $oceanGreen;
  transform: rotate(90deg);
  margin: 0 auto auto 0;
}

.dots {
  height: 100%;
  @include for-tablet {
    height: auto;
    width: 100%;
  }
}

.dotted-line {
  width: 50%;
  margin: auto auto 0 0;
  @include for-phone-only {
    width: 100%;
  }
}

.pattern {
  margin: auto;
  max-width: 100px;
}

/*** Middle Container ***/

.middle-container {
  justify-content: center;
  text-align: center;
  color: white;
  @extend .main-container;
}

.title-box {
  min-width: 600px;

  @include for-tablet-pro {
    min-width: 400px;
  }

  @include for-phone-only {
    min-width: 0px;
  }
}

.circle-container-middle {
  width: fit-content;
  margin: auto;
  color: $yellow;
}

.middle-container > div:first-child,
.middle-container > div:last-child {
  display: flex;
  width: 100%;
  color: $yellow;
  animation: ColorChange 4000ms linear infinite alternate-reverse;
  @include for-phone-only {
    display: none;
  }
}

.middle-container > div:last-child {
  .horizontal-bar {
    margin: auto 0 0 auto;
    transition: margin 500ms linear;
    animation: Pan 6000ms linear infinite alternate-reverse;

    &:hover {
      animation: none;
    }
  }
}

/*** Bottom container ***/

.bottom-container {
  @extend .main-container;

  > div {
    width: 25%;
    display: flex;
    @include for-phone-only {
      width: 50%;
    }
  }
}

.bottom-container>div:nth-child(2){
  .vertical-bar {
    margin: 0 0 auto auto;
    @include for-phone-only {
      margin: 0 auto 0 20px;
    }
  }

  .circle-sm {
    display: none;
    @include for-phone-only {
     display: unset;
     margin: auto 40px auto;
     animation: Panextended 6000ms linear infinite alternate-reverse;
    }
  }
}

.bottom-container>div:nth-child(3){
  @include for-phone-only {
    display: none;
  }
}

.bottom-container>div:nth-child(5){
  @include for-phone-only {
    display: none;
  }
}

.scroll {
  position: absolute;
  margin-left: 48%;
  @include for-phone-only {
    margin-left: 45%;
  }
}

.circle-container-bottom {
  width: fit-content;
  margin: 0 0 auto auto;
  color: $oceanGreen;

  @include for-phone-only {
    margin: auto;
  }
}
