<div #card *ngIf="!right" class="timeline-card-left">
    <div *ngIf="isFirst" class="filler"></div>
    <div *ngIf="isVisible" [@enterAnimation] class="circle-container" (click)="navigate()">
      <div [className]="'circle-tm c-left ' + color">{{content?.company}}</div>
      <div [className]="'a-left-' + color"></div>
    </div>
    <div *ngIf="isVisible" [@enterAnimation] class="text-container">
      <h5 class="position content-strong">{{content?.role}}</h5>
      <h6 class="date">{{content?.date}}</h6>
      <h6 class="description content">{{content?.description}}</h6>
      <div class="tags"><div class="tag" *ngFor="let tag of content?.tags">{{tag}}</div></div>
    </div>
</div>

<div #card *ngIf="right" class="timeline-card-right">
  <div *ngIf="isVisible" [@enterAnimation] class="text-container">
    <h5 class="position content-strong">{{content?.role}}</h5>
    <h6 class="date content">{{content?.date}}</h6>
    <div class="description content">{{content?.description}}</div>
    <div class="tags"><div class="tag" *ngFor="let tag of content?.tags">{{tag}}</div></div>
  </div>
  <div *ngIf="isVisible" [@enterAnimation] class="circle-container" (click)="navigate()">
    <div [className]="'a-right-' + color"></div>
    <div [className]="'circle-tm c-right ' + color">{{content?.company}}</div>
  </div>
  <div *ngIf="isLast" class="filler-bottom"></div>
</div>
