<!-- Other Devices -->
<div *ngIf="!smartphone" class="navbar-container" [ngStyle]="{'background-color': backgroundColor }">
  <div class="route" *ngFor="let route of routes">
    <span (click)="navigate(route)"class="route-text">{{route.label}}</span>
  </div>
</div>

<!-- Smartphone -->
<div *ngIf="smartphone" class="navbar-container" [@openClose]="opened ? 'open' : 'closed'" [ngStyle]="{'background-color': backgroundColor }">
  <div *ngIf="smartphone" class="burger-wrapper">
    <app-hamburguer-button style="margin:auto" [isOpen]="opened" (hamburgerIsOpen)="toggleNavbar($event)"></app-hamburguer-button>
  </div>
  <div [className]="opened ? 'route with-border' : 'route'" *ngFor="let route of routes" (click)="navigate(route)">
    <span [className]="opened ? 'route-text' : 'route-text-hidden'" (click)="toggleNavbar(false)">{{route.label}}</span>
  </div>
</div>

<div class="github-flag" (click)="navigateToGibHub()">
  <img class="github-icon" src="./../../../../assets/icons/github.svg" alt="GitHub Icon">
</div>
