<div class="stack">
  <div class="left-container">
    <div class="circle-container-left">
      <div class="circle"></div>
    </div>
  </div>
  <div class="middle-container">
    <div class="circle-sm"></div>
    <div class="circle-sm"></div>
    <div class="title-container">
      <div class="title">Stack</div>
      <div class="bullet"></div>
    </div>
    <div class="stack-container">
      <div class="itablet">
        <div class="cam"><div></div></div>
        <div class="interior">
         <div class="tech-container">
          <img class="tech-icon" src="./../../../assets/icons/angular.svg" alt="angular-icon">
          <div class="content-strong">Angular</div>
         </div>

         <div class="tech-container">
          <img class="tech-icon" src="./../../../assets/icons/typescript.svg" alt="typescript-icon">
          <div class="content-strong">Typescript</div>
         </div>

         <div class="tech-container">
          <img class="tech-icon" src="./../../../assets/icons/rxjs.svg" alt="typescript-icon">
          <div class="content-strong">RxJS</div>
         </div>


         <div class="tech-container">
          <img class="tech-icon" src="./../../../assets/icons/javascript.svg" alt="javascript-icon">
          <div class="content-strong">Javascript</div>
         </div>

         <div class="tech-container">
          <img class="tech-icon" src="./../../../assets/icons/react.svg" alt="react-icon">
          <div class="content-strong">React</div>
         </div>

         <div class="tech-container">
          <img class="tech-icon" src="./../../../assets/icons/java.svg" alt="java-icon">
          <div class="content-strong">Java</div>
         </div>

        </div>
        <div class="button"><div></div></div>
      </div>
    </div>
  </div>
  <div class="right-container">
  </div>
</div>
