<div class="stack">
  <div class="left-container">
    <div class="circle-container-left">
      <div class="circle"></div>
    </div>
  </div>
  <div class="middle-container">
    <div class="circle-sm"></div>
    <div class="circle-sm"></div>
    <div class="title-container">
      <div class="title">{{title}}</div>
      <div class="bullet"></div>
    </div>
    <div class="stack-container">
      <div class="itablet">
        <div class="cam"><div></div></div>
        <div *ngIf="stackContentList" class="interior">
         <div *ngFor="let tech of stackContentList" class="tech-container">
          <img class="tech-icon" src="{{tech.imageURL}}" alt="{{tech.alt}}">
          <div class="content-strong">{{tech.name}}</div>
         </div>
        </div>
        <div class="button"><div></div></div>
      </div>
    </div>
  </div>
  <div class="right-container">
  </div>
</div>
