@import './../../../styles.scss';

.stack {
  display: flex;
  width: 100%;
  margin: 100px 0;

  @include for-phone-only {
    margin-top: 50px;
  }
}

.left-container {
  width: 8%;
}

.middle-container {
  position: relative;
  width: 84%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: $yellow;
  display: flex;
  animation: BackgroundColorChange 15000ms linear infinite alternate-reverse;
}

.middle-container>div:nth-child(1) {
    position: absolute;
    animation: bouncing 5000ms linear infinite alternate;
}

.middle-container>div:nth-child(2) {
  position: absolute;
  animation: bouncing 5000ms linear infinite alternate-reverse;
}



.right-container {
  width: 8%;
  display: flex;
}

.title-container {
  display: flex;
  color: white;
  width: 85%;
  .title {
    margin: 20px 0 20px 20px;
  }

  .bullet {
    margin: auto auto auto 20px;
    background-color: $pink;
  }
}

.stack-container {
  width: 100%;
  height: 700px;
  display: flex;

  @include for-phone-only {
    height: 400px;
  }
}

.itablet {
  z-index: 2;
  width: 70%;
  height: 80%;
  max-width: 1000px;
  background-color: white;
  border-radius: 30px;
  margin: 0 auto auto auto;
  display: flex;
  transition: height, width 500ms linear;
  @include for-tablet {
    flex-direction: column;
    border-radius: 15px;
    margin: 0 auto auto auto;
  }

  .cam {
    width: 5%;
    display: flex;

    >div {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 2px solid $yellow;
      margin: auto;
    }

    @include for-tablet {
      width: 100%;
      height: 5%;

      >div {
        width: 10px;
        height: 10px;
        margin: auto;
      }
    }

    @include for-phone-only {
      >div {
        width: 5px;
        height: 5px;
        margin: auto;
      }
    }
  }

  .button {
    width: 5%;
    display: flex;

    >div {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid $yellow;
      margin: auto;
    }

    @include for-tablet {
      width: 100%;
      height: 5%;
      >div {
        width: 15px;
        height: 15px;
        margin: auto;
      }
    }

    @include for-phone-only {
      >div {
        width: 10px;
        height: 10px;
        margin: auto;
      }
    }
  }

  .interior {
    margin: auto;
    width: 90%;
    height: 90%;
    background-color: $pink;
    display: flex;
    flex-flow: row wrap;
  }
}

.circle-container-left {
  width: fit-content;
  margin: 20px auto auto -120px;
  color: $oceanGreen;
}

.tech-container {
  display: flex;
  flex-direction: column;
  color: white;
  max-height: 80px;
  margin: auto;
  width: 33%;

  .tech-icon {
    fill: white;
    width: 50px;
    min-height: 70px;
    margin: auto;
  }

  .content-strong {
    margin: auto;
  }

  @include for-phone-only {
    .tech-icon {
      width: 30px;
      margin: auto;
    }
  }
}

@keyframes bouncing {
  0% {transform: translate(0,0)}
  15% {transform: translate(10vw,60vh)}
  30% {transform: translate(25vw,0vh)}
  45% {transform: translate(40vw,60vh)}
  60% {transform: translate(55vw,0vh)}
  75% {transform: translate(70vw,60vh)}
  100% {transform: translate(80vw,0vh)}
}

